.dashboard {
    padding: 55px;
    display: flex;
    justify-content: center;
  }
  
  .game-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 20px;
    width: 100%;
    max-width: 3000px; 
    justify-items: center;
  }
  
  /* For screens with 2 cards per row */
  @media screen and (min-width: 480px) {
    .game-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* For screens with 4 cards per row */
  @media screen and (min-width: 768px) {
    .game-cards {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  /* For screens with 6 cards per row */
  @media screen and (min-width: 1200px) {
    .game-cards {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  
  /* For screens with 8 cards per row */
  @media screen and (min-width: 1588px) {
    .game-cards {
      grid-template-columns: repeat(8, 1fr);
    }
  }
  
  /* For screens with 8 cards per row but smaller cards*/
  @media screen and (min-width: 2000px) {
    .game-cards {
      grid-template-columns: repeat(8, 1fr);
    }
  }
  
  .game-card {
    border-radius: 8px;
    width: 100%;
    text-align: left;
    transition: 0.3s;
    color: white;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  .featured-card {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: 0.3s;
    color: white;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  .game-card h3,
  .game-card p {
    margin: 0;
  }
  
  .game-card img {
    width: 100%;
    height: 150px; /* Set the desired height */
    object-fit: cover; /* Ensures the image covers the specified area without distortion */
    border-radius: 8px 8px 8px 8px; /* Keeps the top corners rounded */
    margin-bottom: 0px;
  }

  .featured-card img {
    width: 100%;
    height: 300px; /* Set the desired height */
    object-fit: cover; /* Ensures the image covers the specified area without distortion */
    border-radius: 8px 8px 8px 8px; /* Keeps the top corners rounded */
    margin-bottom: 0px;
  }
  
  .game-card h3 {
    font-size: 1.2em;
    margin: 5px 5px;
  }

  .featured-card h3 {
    font-size: 1.2em;
    margin: 5px 5px;
  }
  
  .game-card p {
    font-size: 0.9em;
    color: #666;
    margin-left: 5px;
    margin-top: 3px;
  }

  .featured-card p {
    font-size: 0.9em;
    color: #666;
    margin-left: 5px;
    margin-top: 3px;
  }
  
  a {
    text-decoration: none;
    color: white;
  }

  .featured-games {
    display: flex;
    flex-direction: row;
  }

  .featured-games h1{
    margin-left: 30px;
    color: white;
  }

  .carousel {
    margin-top: 0px;
  }